#footer {
	color: white;
}

#footer__top {
	height: 20px;
}

#footer__bottom {
	margin: 0 auto;
}

#footer__contact {
	margin: 0 auto;
}

.footer__details-left {
	font-weight: bold;
	text-align: right;
}

.footer__details-right {
	padding-left: 20px;
}